{{define "dashboard_html"}}
<!DOCTYPE html>
{{template "head_html" .}}

<body>
    {{template "header_html" .}}
    <main role="main" class="container mt-5">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">RSVP List</h1>
            <p class="lead">The following are the attendees that have RSVP to the wedding dinner:</p>
        </div>
              
        <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Accompanied by</th>
            <th scope="col">Registered at</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $element := .attendees}}
            <tr>
            <th scope="row">{{add $index 1}}</th>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.Phone}}</td>
            <td>{{.AccompaniedByName}}</td>
            <td>{{.UpdatedAtString}}</td>
            <td><a class="btn-delete-attendee btn-link text-danger" data-id="{{.ID}}"><i class="fa fa-trash"></i></a></td>
            </tr>
            {{end}}
        </tbody>
        </table>
    </main><!-- /.container -->
    {{template "_delete_attendee_form_html" .}}
    {{template "flash_html" .}}
</body>
 <!-- Javascript -->
<script type="text/javascript" src="/assets/js/dashboard.js"></script>
</html>
{{end}}